* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "Roboto", sans-serif;
  --text: #000;
  --background: #fff;
  --primary-color: #b55cff;
  --light-color: #fff;

  background: var(--background);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  body {
    --text: #ededed;
    --background: #15151c;
    --light-color: #ededed;
  }
}

nav {
  background: var(--primary-color);
}

nav a {
  display: block;
  padding: 10px;

  text-decoration: none;
  color: var(--light-color);
  font-size: 20px;

  font-family: "Roboto Slab", monospace;
  font-style: normal;
}

main {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;

  text-align: center;

  color: var(--primary-color);
  padding: 20px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  padding-left: 30px;
}

.seal {
  margin-bottom: 50px;
}
.edited {
  padding-top: 20px;
  padding-bottom: 10px;
}
